<!DOCTYPE html>
<html lang="pt-BR">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Atividade</title>
</head>
<body>
        <form id="formulario" action="/conta" method="get">
            <h1>Calculadora</h1>
            <label for="">Digite o primeiro numero</label>
            <input type="number" name="n1" id="n1" required>
            <label for="">Digite o segundo numero</label>
            <input type="number" name="n2" id="n2" required>
            <label for="">Escolha o tipo de operação</label>
            <input type="text" name="operacao" id="operacao" required>
            <input type="submit" value="Enviar">
        </form>
</body>

</html>