<!DOCTYPE html>
<html lang="pt-BR">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Exercício</title>
</head>

<body>
    <form id="formulario" action="/formulario" method="post">
        <input id="nome" type="text" name="nome">
        <input id="sobrenome" type="text" name="sobrenome">
        <input id="cidade" type="text" name="cidade">
        <input id="enviar" type="submit" value="Enviar">
    </form>
</body>

</html>